<section id="accomadation__modal" class="section">
  <div class="section__header">
    <h1>Accomadation</h1>
    <p>We've put together some examples of accomdation you can book below</p> 
    <p> (guys, the prices are based on what we saw when Manon looked them up recently, they are subject to change):</p>
    
    <p>NB: Please book as soon as you can, as places disappear VERY quickly. If you need to find someone to stay with, there's a comments wall below, or just shoot us an email and we can help!</p><br>
    <p><i>All of the dates below are for days ranging from the 29th of December - 2nd of January</i></p>
  </div> 
  <div class="section__content"> 
  <div class="">
    <h3>Airbnb:</h3>

    <div>
      <p>2 people - £50-100/night:</p>
      <p>
        <a href="https://www.airbnb.co.uk/rooms/18063297?location=St%20Andrews%2C%20Saint%20Andrews%2C%20Fife&children=0&infants=0&adults=2&guests=2&check_in=2018-12-29&check_out=2019-01-02&s=eGrDrCKq">Leona House</a>
      </p>
      
      <p>
        <a href=" https://www.airbnb.co.uk/rooms/11081519?location=St%20Andrews%2C%20Saint%20Andrews%2C%20Fife&children=0&infants=0&adults=2&guests=2&check_in=2018-12-29&check_out=2019-01-02&s=eGrDrCKq">The Snug</a>
      </p>
      <br>
    <p>  4 people - £50-200/night:</p>
      <p>
        <a href="https://www.airbnb.co.uk/rooms/8361367?location=St%20Andrews%2C%20Saint%20Andrews%2C%20Fife&children=0&infants=0&adults=2&guests=2&check_in=2018-12-29&check_out=2019-01-02&s=eGrDrCKq">Private Room</a>
      </p>
      
      <p>
        <a href=" https://www.airbnb.co.uk/rooms/13806835?location=St%20Andrews%2C%20Saint%20Andrews%2C%20Fife&children=0&infants=0&adults=2&guests=2&check_in=2018-12-29&check_out=2019-01-02">Flat Overlooking Old Course</a>
      </p>
      
      <p>
        <a href="https://www.airbnb.co.uk/rooms/14207279?location=St%20Andrews%2C%20Saint%20Andrews%2C%20Fife&children=0&infants=0&adults=2&guests=2&check_in=2018-12-29&check_out=2019-01-02&s=eGrDrCKq">Flat on North Street</a>
      </p>
    </div>
    
    <br>
  <p>  6 people - £120-160/night:</p>
  <p>
      <a href="https://www.airbnb.co.uk/rooms/11419540?location=St%20Andrews%2C%20Saint%20Andrews%2C%20Fife&children=0&infants=0&adults=2&guests=2&check_in=2018-12-29&check_out=2019-01-02&s=eGrDrCKq">Flat on Argyle Street</a>
  </p>
    
    <p>
      <a href="https://www.airbnb.co.uk/rooms/23154072?location=St%20Andrews%2C%20Saint%20Andrews%2C%20Fife&children=0&infants=0&adults=2&guests=2&check_in=2018-12-29&check_out=2019-01-02&s=eGrDrCKq">an Artsy Flat</a>
    </p>
    
  <p>
      <a href="https://www.airbnb.co.uk/rooms/14032410?location=St%20Andrews%2C%20Saint%20Andrews%2C%20Fife&children=0&infants=0&adults=2&guests=2&s=4a9S2Wxb">Big Victorian Flat</a>
  </p>
  <br>
  </div>
  
  <div>
    <h3>Bed and Breakfast:</h3>
    
    <p>Double Room -</p>
    <p>£115-125/night:</p>
    <p>
      <a href="http://www.oldfishergatehouse.co.uk/index.php/our-tariff">Old Fishergate House</a>
    </p>
    
    <p>
      <a href="https://portal.freetobook.com/reservations?w_id=11599&w_tkn=1Km56Kqii3CmWUeuKE8lglq3VplKRMH9M0kzaZ1K52Q0eqrHdWU6DkW0UbLpt&checkIn=2018-12-29&stayLength=4">The Spindle B&B</a>
    </p>
    
    <p>
      <a href="http://www.andersonhousestandrews.com/accomm.htm">Anderson House B&B</a>
    </p>
    <br>
  </div>
    
  <div>
    <h3>Hotel:</h3>      
              
    <p>Single Room - £142/night:</p>
    <p>Double Room - 159/night:</p>
    <p>
      <a href="https://portal.freetobook.com/reservations?w_id=22406&w_tkn=yLxntKHKI5RT0qVGwqA0ZQc713biv1YviplIJBAo2yAc2ZiUtKpRVby2OKggQ">The Golf Inn</a>
    </p>
    <br>
    
    
    <p>Double/Single Room -</p>
    <p>£90/night:</p>
    <p>
      <a href="http://www.newinnstandrews.com/tariff">The New Inn</a>
    </p>
    <br>
    
  <p>£174/night:</p>
    <p>
      <a href="http://www.kinnettleshotel.com/rooms/">Kinnettles</a>
    </p>
    <br>
    
    <p>£235/night:</p>
    <p>
      <a href="https://www.oldcoursehotel.co.uk">Old Course Hotel</a>
    </p>
    <br>
  </div>


  </div>
</section>
