<section id="event__modal" class="section">
  <div class="section__header">
    <h1>The Event</h1>
    <p>So, we're getting married and wanted to have a day with all our friends from around the world in celebration. the event will be in St. Andrews, Scotland, at the Oliver's family home.</p><br>
    <p>Check this space, we'll be updating it with more details! For now though, just some broad brush strokes:</p>
  </div>
  <div class="section__content">
    <h3>30th December</h3><br>
    <p>Drinks in St. Andrews</p>
    <p>Location: TBC</p>
    <p>Time: Evening</p>
    <br><br>
    <h3>31st of December</h3>
    <p>Party</p>
    <p>... All night long!</p>
    <p>Location: 102 Hepburn Gardens</p>
    <p>Time: 18:30</p>
    <br><br>
    <h3>1st of January</h3>
    <p>Brunch</p>
    <p>Location: 102 Hepburn Gardens</p>
    <p>Time: 11:00</p>
    <p><i>* and a swim in the North Sea (I promise it's warm at this time of year)</i></p>
    
    

  </div>
</section>
