<section id="location__modal" class="section">
  
  <div class="section__content">
    <div class="">
      <h1>Getting Here</h1>
    </div>
    
    
    <div class="">
      <h3>Closest airports:</h3>

      <p>Dundee</p>
      <p>Edinburgh</p>
      <br>
      <h3>From Dundee:</h3>
      <ul>
        <li>Cheapest: bus to St. Andrews (service 99)</li>
        <li>Bus or taxi to train station ->Train to leuchars + bus to St. Andrews (service 99)</li>
        <li>Car rental</li>
        <li>Taxi from airport ~£30 to St. Andrews</li>
      </ul>
      <br><br>

      <h3>From Edinburgh</h3>
      
        <ul>
          <li>St Andrews Direct and St Andrews Shuttle leaves from the airport (book in advance)</li><br>
          <li>
            Bus+train+bus
            <ol>
              <li>Airport Airlink bus (service 100) ~30min to Waverley Bridge ~£4.50</li>
              <li>Waverly Station is situation by Waverley Bridge, take a train to Dundee, Aberdeen or Dyce</li>
              <li>Get off at Leuchars station</li>
              <li>Take the bus (service 99) to St Andrews or take a taxi</li>
            </ol><br>
          </li>
          <li>
            Tram+train+bus
            <ol>
              <li>Tram to Haymarket station</li>
              <li>Take train from Haymarket station going towards Dundee, Aberdeen or Dyce</li>
              <li>Get off at Leuchars station</li>
              <li>Take the bus (service 99) to St Andrews or take a taxi</li>
            </ol><br>
          </li>
          <li>Taxi ~£80 from airport to St. Andrews</li>
          <li>Car rental from Edinburgh</li>
        
      </ul>
      <br><br>


      <h3>From London</h3>
      <ul>
        <li>Fly to Edinburgh or Dundee, follow above instructions
          <ul><li>If going to Edinburgh, change trains at Waverley station or Haymarket station, for a train going to Dundee, Aberdeen or Dyce, get off at Leuchars, and take bus line 99 or a taxi to St. Andrews</li> </ul>
        </li><br>
        <li>Train from Kings Cross station going to Edinburgh or Aberdeen
          <ul><li>If on a train from London going to Aberdeen, get off at Leuchars station and take bus line 99 or taxi to St. Andrews</li> </ul>
        </li>
      </ul>

    </div>
  </div>
</section>
